body{
background: white;
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: Roboto;
display: flex;
justify-content: center; 
}

content{
width: 460;
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px
}

h1{
background: linear-gradient(to right, rgba(228, 23, 23, 0.877), rgb(247, 158, 158));
width: 370px;
border-radius: 15px;
color: rgb(0, 0, 0);
}

.items{
padding: 10px;
display: flex;
gap: 20px;
color: rgb(0, 0, 0);
justify-content: space-between;
flex-wrap: wrap
;
}

.item{
width: 200;
height: 320;
margin-bottom: 10px;

border: 1px solid rgb(0, 0, 0);
border-radius: 5px;
box-shadow: 0 0 7px black;
}

div{
border: 1px solid rgb(0, 0, 0);
color: rgb(0, 0, 0);

}

.title {
    background: red;
    width: 240px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.contacts p {
color: rgb(0, 0, 0);
margin: 3px;
}

.contacts p:first-child{
font-weight: 3px red;
}

.contacts p:last-child{
border-left: 3px rgb(255, 0, 0);
}

.license {
font-size: 9px;
text-align: justify;
color: rgb(0, 0, 0);
}

.item-title{
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.item-image{
width: 200px;
height: 300px;
background-image: url(img/12.png);
background-size: 90%;
background-repeat: no-repeat;
background-position: center;
}

.item-image1{
    width: 200px;
    height: 300px;
    background-image: url(img/001.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    }

.parts-pay{
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
}